.chat-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #ffffff;
  position: relative;
}

.chat-content::-webkit-scrollbar {
  width: 12px;
}

.chat-content::-webkit-scrollbar-track {
  background: #f4f4f4;
}

.chat-content::-webkit-scrollbar-thumb {
  background-color: #77864F;
  border-radius: 10px;
  border: 3px solid #f4f4f4;
}
