/* General styles for larger screens (desktop) */
.landing-page-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.landing-page {
  flex: 1;
}

.landing-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  text-align: left;
}

.landing-hero-content {
  flex: 1;
  max-width: 50%;
  margin-left: 200px;
  color: #312E2E;
}

.landing-hero-content h1 {
  font-size: 48px;
  margin: 0;
  transition: color 0.3s, transform 0.3s;
  width: 500px;
}

.landing-hero-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
  transition: color 0.3s, transform 0.3s;
}

.landing-button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.landing-contact-button, .landing-email-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.landing-contact-button {
  background-color: #073458;
  color: white;
  font-weight: bold;
  border: none;
}

.landing-contact-button span {
  margin-left: 8px;
}

.landing-email-button {
  background-color: #ffffff;
  color: #000;
  font-weight: bold;
  border: 1.5px solid black;
}

.landing-button-text {
  margin-right: 8px;
}

.landing-button-icon {
  font-size: 16px;
}

.landing-hero-image {
  flex: 1;
  position: relative;
  max-width: 50%;
}

.landing-hero-image img {
  max-width: 100%;
  height: auto;
}

.polygon-img {
  display: block;
  margin: 0 auto;
}

.polygon-top-img {
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
}

/* Media Queries for smaller screens (tablet and mobile) */

@media (max-width: 1200px) {
  .landing-hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .landing-hero-content {
    max-width: 100%;
    margin-left: 0;
  }

  .landing-hero-content h1 {
    font-size: 36px;
    width: 100%;
  }

  .landing-hero-content p {
    font-size: 14px;
    line-height: 22px;
  }

  .landing-hero-image {
    max-width: 100%;
    margin-top: 20px;
  }

  .polygon-top-img {
    width: 80%;
    left: 50%;
  }
}

@media (max-width: 768px) {
  .landing-hero-content h1 {
    font-size: 28px;
  }

  .landing-hero-content p {
    font-size: 12px;
    line-height: 20px;
  }

  .landing-button-container {
    flex-direction: column;
    gap: 10px;
  }

  .landing-hero-image img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .landing-hero-content h1 {
    font-size: 24px;
  }

  .landing-hero-content p {
    font-size: 10px;
    line-height: 18px;
  }

  .landing-button-container {
    flex-direction: column;
    align-items: center;
  }

  .landing-contact-button, .landing-email-button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}
