/* No Messages */
.draft-page-message-list{
  height: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 50px;
}

.draft-page-no-message-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #494949;
}

.draft-page-no-message-body {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

/* Delete Modal */
.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-modal-content {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  max-width: 550px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.delete-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.delete-close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.delete-modal-body {
  margin-bottom: 20px;
  color: #333;
}

.delete-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.delete-cancel-button {
  border: 1px solid #c5c5c5;
  color: #333;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.delete-cancel-button:hover {
  background-color: #f1f3f5;
  border-color: #b0b0b0;
}

.delete-confirm-delete-button {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  height: 35px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-confirm-delete-button:hover {
  background-color: #c82333;
}

/* Draft Message Box */
.draft-message-box {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 30px auto;
  background-color: #f3f3f3;
  text-align: center;
  width: 1200px;
}

.bnr-fnt {
  max-width: 100%; 
}

.bnr-fnt h2 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.bnr-fnt p {
  font-size: 16px;
  color: #666;
  margin: 10px 0 0 0; 
  word-wrap: break-word; 
}

.bnr-btn {
  margin-top: 15px; 
}

.start-message-btn {
  padding: 12px 24px;
  background-color: #073458;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.start-message-btn:hover {
  background-color: #0056b3; /* Brighter blue */
  color: #ffffff;
  transform: translateY(-2px); /* Slight lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
}
