.channel-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.channel-modal {
  background: white;
  color: #000;
  font-weight: 600;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  position: relative;
}

.channel-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.channel-modal-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.channel-modal-label {
  display: block;
  margin-bottom: 15px;
}

.channel-input-text {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.channel-input-textarea {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 80px; /* Adjust height as needed */
  resize: vertical; /* Allow vertical resizing */
}

.channel-description {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

.channel-visibility-options {
  margin-top: 10px;
}

.channel-visibility-option {
  display: block;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 400;
}

.channel-visibility-option input[type="radio"] {
  margin-right: 5px;
}

.channel-visibility-option span {
  color: #000;
  font-weight: bold;
}

.channel-visibility-description {
  margin-left: 20px;
  margin-top: 8px;
  color: #545454;
}

.channel-modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.channel-create-button {
  background-color: #073458;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}



.add-members-channel-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.add-members-channel-modal-title {
  margin: 0 0 15px; /* Adjust spacing below the title */
  font-size: 24px; /* Adjust as needed */
  color: #333; /* Adjust color as needed */
}

.channel-name-with-icon {
  display: inline-flex; /* Keep icon and text together */
  align-items: center;
  white-space: nowrap; /* Prevent line break between icon and channel name */
  margin-left: 8px; /* Space between "Add Members To" and the icon */
}

.locks {
  margin-right: 8px; /* Space between icon and channel name */
  font-size: 20px; /* Adjust icon size as needed */
}


.add-members-channel-modal-input {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 15px; /* Adjust space below the input */
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-members-channel-modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.add-members-channel-modal-skip-button {
  background-color: #073458;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; 
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.add-members-channel-modal-skip-button:hover {
  background-color: #06527a; /* Darker shade on hover */
}

.add-members-channel-modal-invite-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.add-members-channel-modal-invite-button:hover {
  background-color: #f5f5f5; /* Light gray background on hover */
}
