.vertical-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 14px;
  width: 60px;
}

.vertical-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 16px;
  position: relative; /* Required for positioning dropdown */
}

.vertical-nav-icon {
  width: 60px; /* Ensure consistent size */
  height: 60px; /* Ensure consistent size */
  border-radius: 50%; 
  object-fit: cover;
}
