/* Draft Page Styles */
.draft-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

/* Full Height for the DraftSentPage */
.draft-sent-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Header Styles */
.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e1e4e8;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
  padding-left: 20px;
  padding-bottom: 10px;
}

.message-actions-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px; /* Add margin-top to separate from title */
}

.message-actions-header .action-button {
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #cccccc;
  background-color: #f4f4f4;
  color: #333;
  border-radius: 5px;
  font-size: 14px;
}

.message-actions-header .delete-button {
  display: flex;
  align-items: center;
  color: #ff4d4f;
  border: 1px solid transparent; /* Keep border consistent */
}

.message-actions-header .action-button:hover {
  background-color: #0056b3; /* Change to a darker shade */
  color: #ffffff;
}

.message-actions-header .delete-button:hover {
  background-color: #e63946; /* Change to a darker red */
  color: #ffffff;
}

.message-actions-header .delete-button svg {
  margin-right: 5px;
}

/* NavBar Styles */
.nav-bar {
  display: flex;
  padding:0;
}

.nav-button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #555;
  font-size: 16px;
  border-bottom: 2px solid transparent;
}

.nav-button.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

/* Message List Container */
.draft-page-message-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

/* No Messages Container */
.draft-page-no-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
}

/* Draft Message Item */
.draft-message-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #e1e4e8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
}

.draft-message-item:hover {
  background-color: #f1f3f5;
}

.draft-message-item.selected {
  border-color: #293d03;
}

.draft-message-item.edit-mode {
  padding-left: 50px;
}

.draft-message-item input[type="checkbox"] {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.draft-message-content {
  flex-grow: 1;
}

.draft-message-title {
  margin: 0;
  font-weight: bold;
  color: #333;
}

.draft-message-text {
  margin: 5px 0 0 0;
  color: #555;
}

.draft-message-channel {
  margin: 5px 0 0 0;
  color: #777;
  font-size: 0.9rem;
}

.draft-message-time {
  text-align: right;
  color: #999;
}
