.browse-channels {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 800px; /* Adjusted width for centering */
    margin: 0 auto; /* Centering horizontally */
  }
  
  .browse-channels-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .browse-channels-header h1 {
    font-size: 28px;
    margin: 0; /* Remove bottom margin for alignment */
  }
  
  .browse-channels-header .browse-channels-create-channel-btn {
    text-align: right;
  }
  
  .browse-channels-header .browse-channels-create-channel-btn button {
    background-color: white;
    color: #1264a3;
    border: 1px solid #1264a3;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .browse-channels-search-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .browse-channels-search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  }
  
  .browse-channels-search-container input {
    width: 94%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .browse-channels-intro-section {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    /* No max-width, so it spans full width */
  }
  
  .browse-channels-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #888;
  }
  
  .browse-channels-intro-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .browse-channels-intro-section p {
    margin-bottom: 15px;
    color: #555;
  }
  
  .browse-channels-intro-section .browse-channels-create-channel-btn {
    background-color: #073458;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .browse-channels-channel-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 20px; 
  }
  
  .browse-channels-channel-list-header select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #1264a3;
    font-weight: bold;
  }
  
  .browse-channels-channel-list {
    list-style: none;
    padding: 0;
  }
  
  .browse-channels-channel-item {
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
  }
  
  .browse-channels-channel-name {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .browse-channels-channel-details {
    color: #616061;
    font-size: 13px;
  }
  
  .browse-channels-joined {
    color: #007a5a;
  }
  