Addfile


.file-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .file-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 150%;
    left: -30%;
    background-color: #DADADA;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 220px;
    font-size: 14px;
  }
  
  .file-dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .file-dropdown-icon{
    margin-right: 10px;
  }

  .uploading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  