.accessibility-container {
    flex: 1;
    padding: 20px;
    max-height: calc(100vh - 80px); /* Adjust for modal size */
    overflow-y: auto;
    background-color: #FBFCFC;
  }
  
  .accessibility-form{

    background-color: white;
    padding: 10px 20px;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
  }

  .accessibility-section {
    padding: 10px 0;
  }
  
  .accessibility-section h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #3A3A3A;
  }
  
  .zoom-options label,
  .accessibility-section label {
    display: block;
    font-size: 13px;
    margin: 5px 0;
    cursor: pointer;
    font-weight: 500;
    color: #747474  ;
  }
  
  .accessibility-section p {
    font-size: 13px;
    color:#747474;
    margin-top: 5px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #C2C2C2;
   }
  