.password-change-container {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px 20px ;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.password-change-container:hover {
  
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

}
  

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.password-header h2 {
  margin: 0;
  color: #3A3A3A;
  font-size: 20px;
  font-weight: 600;
}

.password-toggle-button {
  background-color: #085FA7;
  color: white;
  border-radius: 5px;
  width: 109px;
  height: 44px;
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
   transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
  }

   .password-toggle-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #666;
  margin-top: 17px;

}

.toggle-button-expanded {
  background-color: transparent;  
  border: none;
  width: auto;
  height: auto;
  padding: 0;
}

.arrow {
  font-size: 16px;
  color: #666;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.password-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 320px;
 }

.form-group {
  margin-bottom: 15px;
  position: relative; /* Make sure the container is positioned */

}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 15px;
  color: #747474;
  
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #9e9d9d;
  border-radius: 4px;
  height: 25px;
}

.save-button {
  background-color: #0A7148;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  width: 200px;
  height: 44px;
  font-weight: 500;
   top: 10px;
}

.save-button:hover {
  background-color: #006c45;
}
