.settings-profile-section {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative; /* Ensure positioning for buttons */
  flex: 1;
  padding: 10px 20px;
  max-height: calc(100vh - 80px); /* Adjust for modal size */
  overflow-y: auto;
  background-color: #ffffff;
}

.settings-profile-section:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.settings-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3a3a3a;
}

.settings-profile-header h2 {
  margin: 0;
  font-size: 20px;
  color: #3a3a3a;
  font-weight: 600;
}

.settings-profile-edit-button {
  background-color: #085fa7;
  color: white;
  border: none;
  border-radius: 5px;
  width: 109px;
  height: 44px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.settings-profile-edit-button-hidden {
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
  padding: 0;
}

.settings-profile-edit-icon {
  font-size: 16px;
  color: #666;
  transition: transform 0.3s ease;
}

.settings-profile-edit-icon.rotate {
  transform: rotate(180deg);
}

.settings-profile-image-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.settings-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  cursor: pointer; /* Added for better user experience */
}

.settings-profile-name-role h3 {
  margin: 0;
  font-size: 18px;
  color: #747474;
  font-weight: 600;
}

.settings-profile-name-role p {
  margin: 5px 0 0;
  color: #747474;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.settings-profile-fields {
  display: flex;
  flex-direction: column;
}

.settings-profile-fields label {
  margin-top: 15px;
  font-weight: 400;
  color: #747474;
  font-size: 15px;
}

.settings-profile-input-container {
  position: relative;
  margin-top: 5px;
}

.settings-profile-input-container input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #747474;
  font-weight: 500;
  line-height: 24px;
}

.settings-profile-voice-button {
  width: 83%;
  padding: 10px;
  border: 1px solid #ee8a8a;
  border-radius: 5px;
  height: 45px;
  background-color: white;
  cursor: pointer;
  color: #616161;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.28px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.settings-profile-microphone {
  font-size: 20px;
}

.settings-profile-input-container .settings-profile-edit-icon {
  position: absolute;
  right: 130px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}

.settings-profile-save-button,
.settings-profile-cancel-button {
  background-color: #0a7148;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-right: -18px;
}

.settings-profile-save-button {
  right: 20px; /* Adjust position */
  bottom: -10px;
}

.settings-profile-cancel-button {
  right: 130px; /* Adjust position */
  background-color: #cf3014;
  bottom: -10px;
}

.settings-profile-save-button:hover,
.settings-profile-cancel-button:hover {
  opacity: 0.9;
}

.settings-profile-save-button + .settings-profile-cancel-button {
  margin-right: 10px; /* Add space between buttons */
}
