.settings-profile-section {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative; /* Ensure positioning for buttons */
  flex: 1;
  padding: 10px 20px;
  max-height: calc(100vh - 30px); /* Adjust for modal size */
}

.settings-profile-section:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.settings-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3a3a3a;
}

.settings-profile-header h2 {
  margin: 0;
  font-size: 20px;
  color: #3a3a3a;
  font-weight: 600;
}

.settings-profile-edit-button {
  background-color: #085fa7;
  color: white;
  border: none;
  border-radius: 5px;
  width: 109px;
  height: 44px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.settings-profile-edit-button-hidden {
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
  padding: 0;
}

.settings-profile-edit-icon {
  font-size: 16px;
  color: #666;
  transition: transform 0.3s ease;
}

.settings-profile-edit-icon.rotate {
  transform: rotate(180deg);
}

.settings-profile-image-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
  gap: 25px;
}

.settings-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(136, 136, 136);
  object-fit: cover;
  cursor: pointer; /* Added for better user experience */
}

.settings-profile-name-role h3 {
  margin: 0;
  font-size: 18px;
  color: #747474;
  font-weight: 600;
}

.settings-profile-name-role p {
  margin: 5px 0 0;
  color: #747474;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.settings-profile-fields {
  display: flex;
  flex-direction: column;
}

.settings-profile-fields label {
  margin-top: 15px;
  font-weight: 400;
  color: #747474;
  font-size: 15px;
}

.settings-profile-input-container {
  position: relative;
  margin-top: 5px;
}

.settings-profile-input-container input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #747474;
  font-weight: 500;
  line-height: 24px;
}

.settings-profile-voice-button {
  width: 83%;
  padding: 10px;
  border: 1px solid #ee8a8a;
  border-radius: 5px;
  height: 45px;
  background-color: white;
  cursor: pointer;
  color: #616161;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.28px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.settings-profile-microphone {
  font-size: 20px;
}

.settings-profile-input-container .settings-profile-edit-icon {
  position: absolute;
  right: 130px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}

.settings-profile-image-actions {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 10px;
}

.settings-profile-image-actions button {
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.settings-profile-image-actions button:hover {
  background-color: #0056b3;
}

.act-img-btn {
  display: flex;
  border: 2px solid rgb(190, 186, 186);
  padding: 5px;
  border-radius: 25px;
  align-items: center; /* Aligns icons and divider */
}

.add-btn,
.delete-btn {
  border: none;
  padding: 10px;
  border-radius: 50%; /* Ensures the background is round */
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  background-color: #159749;
}

.add-btn:hover {
  background-color: #0fb451;
}

.delete-btn {
  background-color: #e32929;
}

.delete-btn:hover {
  background-color: #d16262;
}

.add-btn svg,
.delete-btn svg {
  font-size: 20px; /* Adjusts the icon size */
}

.divider {
  width: 1px;
  height: 30px; /* Adjust this value as needed */
  background-color: rgb(190, 186, 186); /* Same color as border */
}

/* Tooltip styles */
.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.add-btn .tooltip {
  /* Positioning */
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 140px;
  transform: translateX(50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.delete-btn .tooltip {
  /* Positioning */
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 295px;
  transform: translateX(50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.add-btn:hover .tooltip,
.delete-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Disabled State */
.settings-profile-save-button:disabled {
  cursor: not-allowed;
  opacity: 0.6; /* Optional: makes disabled button appear less prominent */
}

/* Active and Hover State */
.settings-profile-save-button:active,
.settings-profile-save-button:hover,
.settings-profile-cancel-button:active,
.settings-profile-cancel-button:hover {
  opacity: 0.9;
}

/* Save Button */
.settings-profile-save-button {
  background-color: #0a7148;
  color: white;
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}

/* Cancel Button */
.settings-profile-cancel-button {
  background-color: #cf3014;
  color: white;
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}

/* Ensure space between Save and Cancel buttons */
.settings-profile-save-button + .settings-profile-cancel-button {
  margin-right: 10px;
}

/* Placeholder styles for profile image */
.settings-profile-image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%;
  background-color: #ccc; /* Placeholder background color */
  color: #fff; /* Placeholder text color */
  font-size: 36px; /* Adjust as needed */
  font-weight: bold;
  border: 2px solid rgb(133, 133, 133);
}