.chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  width: 100%;
  position: relative; 
}

.chat-message-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.chat-message-text {
  max-width: calc(100% - 52px);
  padding: 12px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.chat-message-text p{
  margin: 4px;
}

.chat-message-text:hover {
  background-color: #F7F8F9;
}

.chat-message-author-time {
  display: flex;
  margin-bottom: 2px;
}

.chat-message-author {
  font-weight: 600;
  font-size: 14px;
  margin-right: 20px;
}

.chat-message-time {
  font-size: 12px;
  color: #888888;
}

.chat-reaction-display {
  display: flex;
  margin-top: 0;
}

.chat-message-images {
  display: flex;
  margin-top: 8px;
}

.chat-message-images img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-right: 8px;
}
